---
import BaseLayout from './BaseLayout.astro';
import Button from 'fulldev-ui/components/Button.astro';
import Content1 from '../components/FullDevCustomized/Content1.astro';

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
	<Content1
		depth={1}
		tagline={frontmatter.pubDate.toLocaleDateString()}
		heading={frontmatter.title}
		image={{
			src: frontmatter.image?.url || '/images/default.webp',
			class: 'h-[400px] object-cover',
			alt: frontmatter.image?.alt || 'A crosscut of a woodslab',
			loading: 'eager'
		}}
		link={{
			text: frontmatter.image?.attributionText || 'FWStudio',
			href: frontmatter.image?.attributionLink || 'https://www.pexels.com/@fwstudio-33348/',
		}}
	>
		<slot />
		<Button class="tag" href={`/blog`}>All</Button>
		{
			frontmatter.tags.map((tag: string) => (
				<Button class="tag" href={`/tags/${tag}`}>
					{tag}
				</Button>
			))
		}
	</Content1>
</BaseLayout>
